@font-face {
    font-family: "Gilroy Light";
    src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot");
    src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff") format("woff"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.svg#Gilroy Light") format("svg");
}
@font-face {
    font-family: "Gilroy ExtraBold"; 
    src: url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.eot"); 
    src: url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.woff") format("woff"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.svg#Gilroy ExtraBold") format("svg"); 
}

$dark_grey: #4d4d4d;
$yellow: #F4C430;
$light_grey: #F5F6F7;
$width:1366px;
$font-family: Gilroy Light;
$bold: Gilroy ExtraBold; 

body{
    max-width: 1920px;
    margin: 0 auto;
    font-family: $font-family;
}

nav{
    margin: 0 auto;
    background-color: $dark_grey;
    opacity: 85%;
}
nav>div{
    max-width: $width;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 10px;
}
.navbar-brand{
    margin-left: -14px;
}
.navbar-nav{
    margin-right: -8px;
}
header>img{
    margin-top: -5%;
    margin-left: -17px;
}

.list{
    color: $light_grey;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
}
.list:hover{
    color: $yellow;
    border: solid 2px $yellow;
    padding: 5px 8px 5px 8px;
    display: block;
    text-decoration: none;
}
.first {
    max-width: $width;
    margin: auto;
}
.about-us{
    text-transform: capitalize;
    font-size: 30px;
    color: $dark_grey;
    font-family: $bold;
    text-align: center;
    padding-top: 184px;
}
.about-us-paragraph{
    font-size: 24px;
    font-family: $font-family;
    text-align: center;
    color: $dark_grey;
    padding-top: 24px;
    margin-bottom: 0;
    padding-bottom: 85px;
}
.flex{
    display: flex;
}

.team{
    display: -webkit-box;
}
.card-body{
    text-align: left;
    font-size: 20px;
    font-family: $font-family;
    color: $dark_grey;
    background-color: $light_grey;
    width: 330px;
    height:330px;
    margin-right: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
div>p:nth-child(1){
    padding-top: 3%;
}
.yellow{
    color:$yellow;
}

footer{
    background-color: $dark_grey;
}
.olinetas{
    margin-top: -4px;
}
.fa-copyright{
    padding-left: 0;
    font-size: 14px;
}
.last{
    margin-top: 85px;
    max-width: $width;
    padding-top: 27px;
    padding-bottom: 3px;
    color: $light_grey;
    font-family: $font-family;
    font-size: 14px;
}
.float-right{
    margin-left: 86.5%;
}
i{
    padding-left: 27px;
    font-size: 14px;
}

@media only screen and (max-width: 1024px){
    body{
        max-width: 1920px;
        margin: 0 auto;
        font-family: $font-family;
    }

    nav{
        margin: 0 auto;
        background-color: $dark_grey;
        opacity: 85%;
    }
    nav>div{
        max-width: $width;
        margin:auto;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .navbar-brand{
        margin-left: -14px;
    }
    .navbar-nav{
        margin-right: 0px;
    }
    header>img{
        margin-top: -5%;
        margin-left: -17px;
    }

    .list{
        color: $light_grey;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize;
        display: block;
    }
    .list:hover{
        color: $yellow;
        border: solid 2px $yellow;
        padding: 5px 8px 5px 8px;
        display: block;
        text-decoration: none;
    }
    .first {
        max-width: $width;
        margin: auto;
    }
    section:nth-child(2){
        margin-left: 6.5%;
    }
    .about-us{
        text-transform: capitalize;
        font-size: 30px;
        color: $dark_grey;
        font-family: $bold;
        text-align: center;
        padding-top: 184px;
    }
    .about-us-paragraph{
        font-size: 24px;
        font-family: $font-family;
        text-align: center;
        color: $dark_grey;
        padding-top: 24px;
        margin-bottom: 0;
        padding-bottom: 85px;
    }
    .flex{
        display: block;
        margin-left: 3px;
    }

    .team{
        display: -webkit-box;
        margin-left: 98.5%;
    }
    
    .card-body{
        margin-left: 16px;
    }
    div>p:nth-child(1){
        padding-top: 3%;
    }
    .yellow{
        color:$yellow;
    }

    footer{
        background-color: $dark_grey;
        margin-right: -14.5%;
    }
    .olinetas{
        margin-top: -4px;
    }
    .fa-copyright{
        padding-left: 0;
        font-size: 14px;
    }
    .last{
        margin-top: 85px;
        max-width: $width;
        padding-top: 27px;
        padding-bottom: 3px;
        color: $light_grey;
        font-family: $font-family;
        font-size: 14px;
    }
    .float-right{
        margin-left: 82.5%;
    }
    i{
        padding-left: 27px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px){
    
    .team{
        display: -webkit-box;
        margin-left: 77.5%;
    }
    
    .float-right{
        margin-left: 79.5%;
    }
}


@media only screen and (max-width: 768px){
    .about-us{
        margin-left: -1%;
    }
    .about-us-paragraph{
        margin-left: -1%;
    }
    .team{
        display: -webkit-box;
        margin-left: 46.5%;
    }
    
    .float-right{
        margin-left: 77.5%;
    }
}

@media only screen and (max-width: 600px){
    .about-us{
        margin-left: 0%;
    }
    .about-us-paragraph{
        margin-left: 0;
    }
    .team{
        display: -webkit-box;
        margin-left: -0.5%;
    }
    footer{
        margin-right: -15.5%;
    }
    .float-right{
        margin-left: 72.5%;
    }
}

@media only screen and (max-width: 480px){

    .navbar-toggler{
        margin-right: 5%;
    }
       .fa-bars {
        font-size: 45px;
        padding-left: 0;
    }
    .navbar-nav{
        margin-left: 81%;
    }
    
    .about-us{
        margin-left: 5%;
    }
    .about-us-paragraph{
        margin-left: 5%;
    }
    img{
        width: 80%;
    }
    .card-body{
        width: 262px;
        height: 262px;
        margin-left: -11%;
        padding-right: -30%;
        margin-right: 140%;
        font-size: 16px;
    }
    .team{
        display: -webkit-box;
        margin-left: -0.5%;
        margin-top: 0.5%;
    }
    .grey{
        color:$dark_grey;
    }
    .yellow-responsive{
        color:$yellow;
    }
    footer{
        margin-right: -19.5%;
    }
    .float-right{
        margin-left: 66.5%;
    }
}

@media only screen and (max-width: 320px){

    .navbar-toggler{
        margin-right: 5%;
    }
    .fa-bars {
        font-size: 37px;
        padding-left: 0;
    }
    .navbar-nav{
        margin-left: 77%;
    }
    .about-us{
        margin-left: 20%;
    }
    .about-us-paragraph{
        margin-left: 22%;
    }
    img{
        width: 65%;
    }
    .card-body{
        width: 190px;
        height: 190px;
        margin-left: -30%;
        font-size: 10px;
    }
    .team{
        display: -webkit-box;
        margin-left: -0.5%;
        margin-top: 0.5%;
    }
    .grey{
        color:$dark_grey;
    }
    .yellow-responsive{
        color:$yellow;
    }
    footer{
        margin-right: -34.5%;
    }
    .float-right{
        margin-left: 54.5%;
    }
}